.nm-play-list-view {
    line-height: @nm-list-item-height;
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: 100%;
    padding: 0;
    margin: 0;

    li
    {
        padding-left: 32px;
        padding-right: 16px;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        span.icon
        {
            margin-right: 8px;
        }
    }

    li.selected
    {
        color: @nju-section-color;
        background: @nju-section-bg;
    }

    li:hover
    {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        transform: translate(-3px, 0px);
    }

    li:active
    {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        transform: translate(-1px, -1px);
    }
}
