.nm-play-list-view {
    line-height: @nm-list-item-height;
    text-overflow: ellipsis;
    overflow-x: hidden;

    li
    {
        padding-left: 32px;
        padding-right: 16px;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        span.icon
        {
            margin-right: 8px;
        }
    }
}
