.nm-track-table-view {
    table-layout: fixed;
    border-collapse: collapse;
    border-right: 1px solid @nm-separate-color;
    width: 100%;

    tr
    {
        height: @nm-list-item-height;
        padding-left: 8px;

        > td
        {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    thead tr
    {
        border-bottom: 1px solid @nm-separate-color;

        > td:not(:first-child)
        {
            border-left: 1px solid @nm-separate-color;
        }

        > td.artists
        {
            width: 300px;
        }

        > td.time
        {
            width: 100px;
        }

        > td.album
        {
            width: 300px;
        }
    }

}
