.nm-track-info-view
{
    width: 100%;
    height: 270px;
    background: @body-bg;

    display: flex;
    flex-direction: row;
    align-items: center;

    > .track-img
    {
        flex: 0 0 160px;
        height: 160px;
        margin: 30px;
        > img
        {
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }
    }

    > .track-info
    {
        flex-grow: 1;

        margin: 20px;
        height: 160px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        > *
        {
            margin: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            position: relative;
        }

        > .track-name
        {
            flex: 0 0 35px;
            margin: 5px;

            > div.iconfont
            {
                color: #cf1818;
                height: 100%;
                line-height: 35px;
                margin-right: 5px;
                width: 55px;
                font-size: 50px;
                position: relative;
                > label {
                    font-size: 12px;
                    color: white;
                    position: absolute;
                    left: 10px;
                    top: 0px;
                    width: 100%;
                    z-index: 100;
                }
            }
            > label
            {
                position: absolute;
                z-index: 100;
                left: 6px;
                top: 6px;
                margin: 5px;
                font-size: 12px;
                vertical-align: middle;
                color: white;
            }
            > .track-name-text
            {
                font-size: 24px;
                color: rgb(51, 51, 51);
                overflow: hidden;
                text-overflow: clip;
            }
        }

        > .operation-btn {

            > .icon-play-btn {
                height: 31px;
                font-size: 12px;
                line-height: 31px;
                overflow: hidden;
                vertical-align: top;
                text-align: center;
                cursor: pointer;
                background-color: #1e6fbf;
                color: white;
                border-radius: 3px;
                padding: 0 10px;
                // background: url(http://s2.music.126.net/style/web2/img/button2.png?bd069c142ad6ed0cea17c78234a1ee9c) no-repeat 0 9999px;
            }
        }
    }
}
